#academics{
  background-image: url(../images/hackback.jpg);
  color: whitesmoke;
  height: 100vh;
  width:100vh;
  font-size: 3em;
  font-weight: bold;
  background-repeat: no-repeat;
  align-content: center;
  margin-left: 500px;
}
table{
  text-align: center;
  margin: 5%;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
}
td,th{
  border: 0px;
  padding: 5px;
}