h1{
    color: whitesmoke;
    text-align: center;
    padding: 50px;
}
h2{
    text-align: center;
    color: whitesmoke;
}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: unset;
    text-decoration:solid ;
    text-align: center;
    color:whitesmoke;
}

#about{
    border: 3px dashed yellowgreen;
    text-decoration: aqua;
    text-align: center;
    font-size: 28px;
    font-family: cursive;
    padding: auto;
    width: auto;
    height: auto;
}

td,th{
    border: 1px dashed burlywood;
    padding: 5px;
}

table{
    text-align: center;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

#me{
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    border: 1px solid #ddd;
}



 
  #hello,#name{
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1.1rem;
    color: whitesmoke;
    text-align: center;
}
.name{

    margin: 50%,50%;
}

.intro{
    background-image: url(../images/back1.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    
}
  
.navbar{
    border-radius: 15px;
    background-color: rgb(156, 43, 201);
    padding: 10px;
}

li{
    list-style: none;
    margin: 0%;
    padding: 40px;
    display: inline;
    font-size: 20px;
}

li a{
    text-decoration: none;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.social{
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    font-size: 24px;
}

.container{
    width:100%;
    margin: auto;
}