h1{
    color: darkmagenta;
    text-align: center;
}

h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: unset;
    text-decoration:solid ;
    text-align: center;
}

#about{
    border: 3px dashed yellowgreen;
    text-decoration: aqua;
    text-align: center;
    font-size: 28px;
    font-family: cursive;
    padding: auto;
    width: auto;
    height: auto;
}

td,th{
    border: 1px dashed burlywood;
    padding: 5px;
}

table{
    text-align: center;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

#me{
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 1px solid #ddd;
}

.skills{
    padding: 5px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border: 0px solid #ddd;
}

.skills:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }